Color Palette{
    color: #54494B; /* DARK LIVER */
    color: #F1F7ED; /* Isabelline */
    color: #91C7B1; /* Eton Blue */
    color: #B33951; /* DINGY DUNGEON */
    color: #E3D081; /* FLAX */
}
html{background-color: #F1F7ED; overflow-y: scroll; overflow-x: hidden;}
body{background-color: #F1F7ED;}

/* BASE CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title{font-family: 'Work Sans', sans-serif;}
p{font-family: 'Rubik', sans-serif;}

/* NAVIGATION */
nav{
    padding-left: 10px;
    width: 100%;
    height: 8vh;
    line-height: 9vh;
    border-bottom: 1px solid #bbb;
    background-color: #F1F7ED;
    z-index: 999;
}

.nav-home, .nav-user, .nav-upload{
    display: inline-block;
    width: 50px;
    text-align: center;
    height: 20%;
    z-index: 1001;
}

.nav-upload{
    float: right;
    padding-right: 10px;
}

.nav-dropdown{
    position: absolute;
    display: none; 
    width: 162px;
    height: 8vh;
    line-height: 8vh;
    z-index: -1;
    text-align: center;
}

.upload-dropdown{
    float: right;
    border: 1px solid black;
    position: absolute;
    left: 100%;
    margin-top: 8vh;
    margin-left: -200px;
    display: none; 
    width: 200px;
    z-index: -1;
}

.nav-dropdown a{
    text-decoration: none;
    color: #54494B;
}

.nav-dropdown p{
    width: 75px;
    display: inline-block;
}

i{position: relative;}
.fa-home{font-size: 32px;}
.fa-user{font-size: 32px;left: 1px;}
.fa-user-check{font-size: 32px;left: 7px;}
.fa-plus{font-size: 32px;}

.fav-btn, .nav-dropdown a{
    cursor: pointer;
    color: #54494B;
    transform: scale(1);
    text-decoration: none;
    transition: 0.22s;
}

.fav-btn:hover, .nav-dropdown a:hover{
    color: #91C7B1;
    transform: scale(1.1);
}

/* Click animations */
.dropdown-close,
.dropdown-open,
.upload-close,
.upload-open,
.upload-inactive i,
.upload-active i{
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.dropdown-close{animation-name: dropdown-close; position: absolute;}
.dropdown-open{animation-name: dropdown-open;}

.upload-close{animation-name: upload-close; position: absolute;}
.upload-open{animation-name: upload-open;}

.upload-inactive i{animation-name: upload-inactive;}
.upload-active i{animation-name: upload-active;}

.page-active{
    background-color: #91C7B1;
    border-bottom: 1px solid #91C7B1;
    transition: 0.22s;
    color: #54494B;
}
.page-active:hover{
    color: #F1F7ED;
}

/* Code */
.feedback{
    width: 100%;
    z-index: -1;
}
.code{
    position: absolute;
    height: 5vh;
    width: 100%;
    text-align: center;
    line-height: 5vh;
}
.true, .false{
    position: absolute;
    width: 100%;
    animation-name: flow;
	animation-delay: 0s;
	animation-duration: 5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
.true{background-color: #00FF00;color: black;}
.false{background-color: #FF0000;color: white;}
@keyframes flow{
    0%{
        height: 0vh;
        line-height: 0vh;
        opacity: 0;
    }
    10%{
        height: 5vh;
        line-height: 5vh;
        opacity: 1;
    }
    90%{
        height: 5vh;
        line-height: 5vh;
        opacity: 1;
    }
	100%{
        height: 0vh;
        line-height: 0vh;
        opacity: 0;
    }
}

/* FOOTER */
footer{
    padding-left: 10px;
    text-align: center;
    width: 100%;
    height: 3vh;
    line-height: 3vh;
    border-top: 1px solid #bbb;
    background-color: #F1F7ED;
}

/* Keyframes dropdown menu */
@keyframes dropdown-close{
    from{
        margin-left: 30px;
        opacity: 1;
        z-index: 1000;
    }
    to{
        margin-left: 0px;
        opacity: 0;
        z-index: -1;
    }
}
@keyframes dropdown-open{
    from{
        margin-left: 0px;
        opacity: 0;
        z-index: -1;
    }
    to{
        margin-left: 30px;
        opacity: 1;
        z-index: 1000;
    }
}

/* Keyframes upload menu */
@keyframes upload-close{
    from{
        margin-left: -200px;
        opacity: 1;
        z-index: 1000;
    }
    to{
        margin-left: 0px;
        opacity: 0;
        z-index: -1;
    }
}
@keyframes upload-open{
    from{
        margin-left: 0px;
        opacity: 0;
        z-index: -1;
    }
    to{
        margin-left: -200px;
        opacity: 1;
        z-index: 1000;
    }
}

/* Keyframes upload active */
@keyframes upload-inactive{
    from{
        transform: rotate(45deg);
    }
    to{
        transform: rotate(0deg);
    }
}
@keyframes upload-active{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(45deg);
    }
}

@media only screen and (max-width: 500px){
    /* NAVIGATION */
    .nav-home i, .nav-user i, .nav-upload i{
        font-size: 22px;
    }
    .nav-dropdown{
        font-size: 14px;
        width: 125px;
    }
    .nav-dropdown p{
        width: 55px;
        display: inline-block;
    }
}

@media only screen and (max-width: 400px){
    /* NAVIGATION */
    .nav-home, .nav-user, .nav-upload{
        width: 30px;
    }
    .nav-home i, .nav-user i, .nav-upload i{
        font-size: 18px;
    }
    nav{
        height: 6vh;
        line-height: 5.5vh;
    }
    .nav-dropdown{
        font-size: 12px;
        width: 100px;
        height: 6vh;
        line-height: 5.5vh;
    }
    .nav-dropdown p{
        width: 47px;
    }
}